// General
* {
  font-family: $base-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $base-bg-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $base-black;
  display: block;
}

p {
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font;
}


.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}