body {
    font-family: $base-font;
    background-color: $base-bg-color;
    cursor: none !important;
}

.home-section {
    padding-top: 100vh;
}

.main-wrapper {
    padding-top: 10vh;
    min-height: 100vh;
    background-color: #f3f3f3;
}

#grid {
    padding: 20vh 0 85vh;
    display: grid;
    grid-template-columns: repeat(14, 0% 1fr);
    grid-template-rows: 70vh 70vh 70vh 70vh;
}

.g-row-1 {
    grid-column: 5/14;
    grid-row: 1;
    position: relative;
}

.g-row-2 {
    margin-top: -10vh;
    margin-bottom: 10vh;
    grid-column: 18/29;
    grid-row: 2;
    // height: 80%;
    position: relative;
}

.g-row-3 {
    grid-column: 3/13;
    grid-row: 2;
    margin-top: 50vh;
    margin-bottom: -30vh;
    position: relative;
}

.g-row-4 {
    grid-column: 12/19;
    grid-row: 3;
    margin-top: 20vh;
    position: relative;
    margin-bottom: -20vh;
}

.g-row-5 {
    grid-column: 3/13;
    grid-row: 4;
    margin-top: 35vh;
    position: relative;
    margin-bottom: -35vh;
}

.box {
    height: 100%;
    width: 100%;
    transition: $slow-transition;
    background-color: $base-yellow;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child-box {
    height: 100%;
    width: 100%;
    transition: $base-transition;
    background-color: $base-red;
    position: absolute;
    top: 0;
}

.top-image-fx {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    mix-blend-mode: soft-light;
    transition: $base-transition;
}

.gallery-fx {
    &:hover {
        .top-image-fx {
            opacity: 1;
            transition: $base-transition;
        }
    }
}
