body {
  font-family: $base-font;
  background-color: $base-bg-color;
}

section {
  padding-top: 100vh;
  height: 300vh;
}

.main-wrapper {
  padding-top: 10vh;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.box {
  height: 65vh;
  width: 30vw;
  margin: 15vh 0 0 20vw;
  transition: $slow-transition;
  background-color: $base-yellow;
  background-image: url(/images/Berlin9.JPG);
  background-position: center;
  background-size: cover;
}

.child-box {
  height: 65vh;
  width: 30vw;
  transition: $base-transition;
  background-color: $base-red;
}
