.fixed-bg-image {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -4vh;
    z-index: -2;
    animation: fadeIn ease 1.5s;
    transition: $base-transition;
}

.fixed-bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-caption {
    position: fixed;
    top: 50vh;
    left: 0;
    right: 0;
    text-align: center;
    color: $base-white;
    font-size: 3em;
}

.header-overlay {
    height: 100vh;
    opacity: 0.3;
    position: fixed;
    background: $base-black;
    width: 100vw;
}

nav {
    height: 15vh;
    width: 100vw;
    position: fixed;
    transition: $base-transition;
    z-index: 9;
}

.nav-wrapper {
    height: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.toggle-menu-in-el {
    display: flex;
    width: 65px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.8em;
    align-items: center;
}

.toggle-menu a i {
    padding-top: 2px;
}

.socials {
    display: flex;
    width: 80px;
    justify-content: space-between;
}
.socials a {
    transition: $fast-transition;
}

.socials a:hover {
    transform: scale(1.3);
    transition: $fast-transition;
}

.change-on-scroll {
    color: #fff;
}

.logo {
    font-weight: 600;
    font-size: 1.2em;
    transition: $fast-transition;
    letter-spacing: 2px;
    &:hover {
        letter-spacing: 5px;
        transition: $fast-transition;
    }
}

.path {
    stroke-dasharray: 20;
}

.scroll-down {
    display: flex;
    width: 100vw;
    color: #fff;
    justify-content: center;
    bottom: 8vh;
    position: fixed;
    font-size: 0.8em;
}

.scroll-down p {
    color: #fff;
    font-size: 1em;
    -webkit-animation: heartbeat 1.5s infinite ease-in-out both;
    animation: heartbeat 1.5s infinite ease-in-out both;
}

.loading:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1vh;
}

.loading:after {
    content: "";
    position: fixed;
    display: block;
    bottom: 15vh;
    left: 50%;
    width: 1px;
    height: 70px;
    background-color: white;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1.6s cubic-bezier(1, 0, 0, 1) infinite;
}

.menu-parent {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #8fb9a8, $alpha: 0);
    z-index: 10;
    transition: $fast-transition;
    pointer-events: none;
}

.menu-child {
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: $base-white, $alpha: 1);
    z-index: 11;
    transition: $smooth-transition;
}

.pagelinks {
    position: fixed;
    top: 30vh;
    left: 5vw;
    transition: $smooth-transition;
    font-size: 1.3em;
    display: block;
}

.pagelinks a {
    color: rgba($color: $dark-green, $alpha: 1);
    transition: $smooth-transition;
    margin: 2vh 0;
    display: none;
}

.sociallinks {
    position: fixed;
    left: 5vw;
    top: 55vh;
    padding-top: 2vh;
    color: rgba($color: $dark-green, $alpha: 0);
    transition: $smooth-transition;
    display: block;
}

.sociallinks a {
    color: rgba($color: #000000, $alpha: 1);
    transition: $smooth-transition;
    margin: 2vh 0;
    font-size: 0.7em;
    text-transform: uppercase;
    display: none;
}

.toggle-menu-in {
    padding: 2%;
    display: block;
}

.toggle-menu-out {
    color: rgba($color: #000000, $alpha: 0);
    position: fixed;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2% 2% 2% 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    left: 5vw;
    top: 4vw;
    &:hover .close-bar {
        transform: rotate(310deg);
        transition: $slow-transition;
        opacity: 0.6;
    }
}

.close-bar {
    width: 20px;
    height: 1px;
    background: black;
}

.close-bar-top {
    transform: rotate(45deg);
    transition: $fast-transition;
}

.close-bar-bottom {
    transform: rotate(-45deg);
    transition: $fast-transition;
}

.strike-through {
    position: relative;
    display: block;
    cursor: pointer;
}

.strike-through:before,
.strike-through:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #000;
}

.strike-through:before {
    left: -2.5px;
}
.strike-through:after {
    right: 2.5px;
    background: #000;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike-through:hover:before {
    background: #000;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike-through:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}
